version: '3'
services:
  frontend:
    container_name: mjsoap-frontend
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - BACKEND_URL=
    restart: always
    entrypoint: yarn start
    ports:
      - 27002:3000